label{
    float: left;
    width: 200px;
}
li{
    list-style-type: none;
}
.border
{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.out{
    border: 1px solid black;
    padding-right: 40px;
}