.container
{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
table
{
    border-collapse: collapse;
    width:600px;
    align-items: center;
}
th,td{
    border:none;
}
th{
    background-color: #000;
    color:#fff;
}
tr:nth-of-type(even){
    background-color: #F3F3F3;
}
tr:nth-of-type(odd)
{
    background-color:#ddd;
}